<section class="container">

    <div class="grid">

        <div class="container__items--footer">

            <nav class="nav__items nav__items--inicio"> 
                <a href="" class="item">Inicio</a>
            </nav>

            <nav class="nav__items nav__items--sobreMi"> 
                <a href="" class="item">Sobre mí</a>
            </nav>

            <nav class="nav__items nav__items--info"> 
                <a href="" class="item">Información</a>
            </nav>

            <nav class="nav__items nav__items--cortes"> 
                <a href="" class="item">Cortes</a>
            </nav>

        </div>

        <div class="copyright__container">
            <p class="copyright"> ©2023_BournotSantino </p>
        </div>

        <div class="textos__footer">
            <h2 class="subtitle"> Mis contactos </h2>
        </div>

        <div class="contactos__container">

            <nav class="contactos__nav contactos__nav--1">
                <a href="https://www.instagram.com/del_lauti/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </nav>

            <nav class="contactos__nav contactos__nav--2">
                <a href="https://wa.me/543462334472?text=Hola,%20tenes%20turnos%20disponibles?" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </nav>

        </div>

    </div>

</section>