<section class="container">

    <div class="grid">

        <nav class="text__container">
            <h2 class="about__subtitle">Mis habilidades</h2>
            <p class="about__paragraph">soy muy bueno con las manos (mmmmmm) buena atencion con musica de negro.
                pd:no te apoyo el pito mientras te corto
            </p>
        </nav>

        <nav class="about__img--container">
            <figure class="about__img">
                <img src="../../assets/img/img-About/habilidadesImg.svg" alt="" class="about__picture">
            </figure>
        </nav>

        <nav class="about__imgLeft--container">
            <figure class="about__img about__img--left">
                <img src="../../assets/img/img-About/profileImg.svg" alt="" class="about__picture">
            </figure>
        </nav>

        <nav class="text__container--right">
            <h2 class="about__subtitle">Mis habilidades</h2>
            <p class="about__paragraph">ya te lo dije arriba gato.</p>
        </nav>

    </div>

</section>