@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-height: 700px;
    height: 100%;
	width: 100%;
    background-image:
        linear-gradient(135deg, #6666667e 0%, #00000098 100%), 
        url('../../assets/img/img-menu/peluImg1920.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.grid{
    height: 850px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

.cont__logo{
    grid-column: 1/5;
    grid-row: 1/6;
    padding-top: 60px;
    padding-left: 60px;
    width: 200px;
    height: 200px;
}

.logo{
    width: 200px;
    border-radius: 100%;
}

.menu__title--container{
    grid-column: 1/8;
    grid-row: 6/9;
    padding-left: 50px;
    
}

.menu__title{
    color: #f3f3f3;
    font-size: 75px;
    margin: 0;
}

.menu__subtitle{
    color: #f3f3f3;
    font-size: 40px;
    margin: 0;
}

.contactame__menu--container{
    padding-top: 25px;
}

.contactame__link{
    background: #f3f3f3;
    color: #000;
    font-size: 25px;
    font-weight: 500;
    border-radius: 50px;
    padding: 15px;
}

.contactame__link:hover{
    background: transparent;
    color: #f3f3f3;
    border: 3px solid #f3f3f3;
    padding: 12px;
}

.items__menu--container{
    padding-top: 20px;
	grid-column: 1/13 ;
	grid-row: 1/2;
}

.items__nav{
    text-align: end; 
}

.items{
    color: #f3f3f3;
    margin-right: 20px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    border: 3px solid #f3f3f3;
    text-align: center;
    flex-wrap: wrap;
}

.items:hover{
    background: #f3f3f3;
    color: #000;
    border: 3px solid #f3f3f3;
}

.hero__wave--grid{
    height: 390px;
	grid-column: 1/13;
	grid-row:  9/12 end;
	width: 100%;
}