<section class="container">

    <div class="grid">

        <div class="items__menu--container">
            <nav class="items__nav">
                <a href="" class="items items--1">Inicio</a>
                <a href="" class="items items--2">Cortes</a>
                <a href="" class="items items--3">Contactos</a>
            </nav>
        </div>

        <nav class="cont__logo">
            <img src="../../assets/img/img-menu/logo1.png" alt="" class="logo">
        </nav>

        <div class="menu__title--container">

            <nav class="cont__title">
                <h1 class="menu__title">Del Lauty</h1>
                <h2 class="menu__subtitle">Peluquería masculina</h2>
            </nav>

            <nav class="contactame__menu--container">
                <a href="" class="contactame__link" target="_blank" >Contactame ahora</a>
            </nav>
        </div>

        <div class="hero__wave--grid">
            <div class="hero__wave--container">
                <div class="hero__wave">
                    <svg viewBox="0 0 500 150" preserveAspectRatio="none" >
        			    <path d=" M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;">
                            
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        
    </div>

</section>