<section class="container">

    <nav class="subtitle__container">
        <h2 class="subtitle">Mis Cortes</h2>
    </nav>

    <div class="grid">

        <article class="proyects__container">
            <img src="../../assets/img/img-Proyect/enPunta-img/enPunta-1.jpg" alt="corteimg" class="proyects__img proyects__img--1" id="mi-imagen">
            <nav id="mi-titulo">
                <h4 class="proyectsClick"> Click en la imagen </h4>
            </nav>
        
            <div class="proyects__hover">
                <h2 class="proyects__title">Degradé en punta</h2>
                <a href="#" class="proyects__ir"> ir </a>
            </div>
        </article>
        
        <article class="proyects__container">
            <img src="../../assets/img/img-Proyect/degrade-img/degrade-3.jpg" alt="corteimg" class="proyects__img proyects__img--2" id="mi-imagen">
            <nav id="mi-titulo">
                <h4 class="proyectsClick"> Click en la imagen </h4>
            </nav>
            <div class="proyects__hover">
                <h2 class="proyects__title">Degradé</h2>
                <a href="#" class="proyects__ir"> ir </a>
            </div>
        </article>
        
        <article class="proyects__container">
            <img src="../../assets/img/img-Proyect/cresta-img/cresta-6.jpg" alt="corteimg" class="proyects__img proyects__img--3" id="mi-imagen">
            <nav id="mi-titulo">
                <h4 class="proyectsClick"> Click en la imagen </h4>
            </nav>
            <div class="proyects__hover">
                <h2 class="proyects__title">Cresta</h2>
                <a href="#" class="proyects__ir"> ir </a>
            </div>
        </article>
        
        <article class="proyects__container">
            <img src="../../assets/img/img-Proyect/clasico-img/clasico-1.jpg" alt="corteimg" class="proyects__img proyects__img--4" id="mi-imagen">
            <nav id="mi-titulo">
                <h4 class="proyectsClick"> Click en la imagen </h4>
            </nav>
            <div class="proyects__hover">
                <h2 class="proyects__title">Clásico</h2>
                <a href="#" class="proyects__ir"> ir </a>
            </div>
        </article>
        
        <article class="proyects__container">
        
            <img src="../../assets/img/img-Proyect/diseño-img/diseño-2.jpg" alt="corteimg" class="proyects__img proyects__img--5" id="mi-imagen">
            <nav id="mi-titulo">
                <h4 class="proyectsClick"> Click en la imagen </h4>
            </nav>
            <div class="proyects__hover">
                <h2 class="proyects__title">Diseño</h2>
                <a href="#" class="proyects__ir"> ir </a>
            </div>
        </article>

    </div>

</section>