<section class="container">

    <div class="grid">

        <nav class="img__container">
            <img class="img__user" src="../../assets/img/img-presentation/userImg.svg" alt="Imagen de usuario">
        </nav>

        <nav class="subtitle__container">
            <h2 class="subtitle__600">
                Mi nombre es:<span class="subtitle__500"> Lautaro Acevedo</span>
            </h2>
        </nav>

        <nav class="presentation__container">
            <p class="presentation__parrafo">
                soy un chico dedicado piola y muy trabajador
                me encantan los hombres y x eso solo hago cortes masculinos
                empeze desde el 2020 en este juego a lo que me divierto haciendolo (modo diablo)
                tengo novia x eso no permito mujeres mientras trabajo. solo permito a la novia de mi mejor amigo,kanky.
            </p>
        </nav>

        <nav class="contactame__container">
            <a href="" class="contactame" target="_blank">Contactame</a>
        </nav>

    </div>

</section>
